[submodule "dependencies/SWF"]
	path = dependencies/SFW
	url = https://github.com/Iuliean/SFW
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dependencies/nlohmann-json"]
	path = dependencies/nlohmann-json
	url = https://github.com/nlohmann/json
